{% extends 'base.html' %}
{% block title %}BingeFlix {% endblock title %}
{% block content %}
{% load static %}
<style>
  body{
      font-family: "Poppins", sans-serif;
          font-weight: 200;
          font-style: normal;
  }
</style>
<h1 class="poppins-light"  style="margin-left:50px;">Spotlight this month  &#128293;</h1>
<div class="row">
    {% for details in mov %}
    <div class="card" style="width: 15rem; margin:15px; background-color:transparent;">
        <a href="{% url 'movie_details' details.id %}">
            <img src="{{ details.img.url }}" class="card-img-top" alt="Not found">
        </a>
        <div class="card-body">
            <h5 class="card-title">{{ details.name }}</h5>
            <p class="card-text" id='desc'>{{ details.desc }}</p>
            <p class="card-text" id='year'>({{ details.year }})</p>
            <h6><span class="badge badge-secondary" id='duration'>{{ details.duration }}</span></h6>
            <p class="card-text" id='genre' style="color:#98a2b2;">Genre - {{ details.genre }}</p>
        </div>
    </div>
    {% endfor %}
</div>
<h1 class="poppins-light"  id="top-imdb" style="margin-left:50px;">Top IMDB </h1>

<div class="row">
    {% for details in imdbb %}
    <div class="card" style="width: 15rem; margin:15px; background-color:transparent;">
        <a href="{% url 'imdb_movie_details' details.id %}">
            <img src="{{ details.img.url }}" class="card-img-top" alt="Not found">
        </a>
        <div class="card-body">
            <h5 class="card-title">{{ details.name }}</h5>
            <p class="card-text" id='desc'>{{ details.desc }}</p>
            <p class="card-text" id='year'>({{ details.year }})</p>
            <h6><span class="badge badge-secondary" id='duration'>{{ details.duration }}</span></h6>
            <p class="card-text" id='genre' style="color:#98a2b2;">Genre - {{ details.genre }}</p>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock content %}



