{% extends 'base.html' %}
{% block title %}Get back in{% endblock title %}
{% block content %}
{% load static %}
<style>
    body, html {
        height: 100%;
        margin: 0;
        font-family: "Poppins", sans-serif;
        font-weight: 300;
        font-style: normal;
    }
</style>

<section class="vh-100" style="background-image: url('{% static 'images/logo.png' %}');">
    <div class="container h-100">
        
        <div class="row d-flex justify-content-center align-items-center h-100">
            
            <div class="col-md-8 col-lg-6 col-xl-5">
                
                <div class="card text-black shadow-sm" style="border-radius: 15px;">
                  

                    <div class="card-body p-md-4">
                        <p class="text-center h1 fw-bold mb-5 mt-4">Login</p>
                      
                        {% if messages %}
                        <div class="alert alert-dismissible fade show" role="alert">
                            {% for message in messages %}
                                <div class="alert {% if message.tags %}
                                alert-{{ message.tags }}
                                {% endif %}" role="alert">
                                    {{ message }}
                                </div>
                            {% endfor %}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" style="width:70px;height:auto;background-color:#B22222;
                            color:black;border:none;">OK</button>
                        </div>
                    {% endif %}
                    
                        <form class="mx-1 mx-md-4" method="post">
                            {% csrf_token %}
                            <div class="mb-4">
                                <label class="form-label" for="username"><i class="fas fa-user fa-lg me-2"></i>Username</label>
                                <input type="text" id="username" name="username" class="form-control" />
                            </div>

                            <div class="mb-4">
                                <label class="form-label" for="password"><i class="fas fa-lock fa-lg me-2"></i>Password</label>
                                <input type="password" id="password" name="password" class="form-control" />
                            </div>

                            <div class="text-center">
                                <p class="text-center">New here? <a href="{% url 'signin' %}">Sign up</a></p>
                                <button type="submit" class="btn btn-primary btn-lg" style="background-color:black;border:none;">Login</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock content %}
